<!DOCTYPE html>
<html>
  <head>
    <title>Tieba_dig</title>
    <!-- <link rel="stylesheet" href="static/build/bootstrap.min.css"> -->
    <link rel="stylesheet" href="static/build/mine.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1 class="title">TieBa Dig</h1>
        <p class="instrac">a simple website for filtering tieba posts</p>
        <div class="form">
          <input ref='tieba_name' type="text" placeholder='贴吧名' class='form-control' />
          <input ref='deepth' type="text" placeholder='搜索页数' class='form-control' />
          <input ref='rep_num' type="text" placeholder='最少回复量' class='form-control' />
          <input ref='author' type="text" placeholder='作者(可省略)' class='form-control' />
          <input type="submit" class='form-control btn-go' value='GO'/>
        </div>
      </div>
      <div id="posts" class="posts">
    </div>
    <script src='static/build/jQuery.js'></script>
    <script src="static/build/post.js"></script>
  </body>
</html>