<!DOCTYPE html>
<html>
  <head>
    <title>Tieba_dig</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src='static/build/jQuery.js'></script>
    <script src="static/build/react.js"></script>
    <script src="static/build/browser.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1 class="title">TieBa Dig</h1>
        <p class="instrac">a simple website for filtering tieba posts</p>
        <div class="form">
          <input name='tieba_name' type="text" placeholder='贴吧名' class='form-control ' />
          <input name='deepth' type="text" placeholder='搜索页数' class='form-control' />
          <input name='rep_num' type="text" placeholder='最少回复量' class='form-control' />
          <input name='author' type="text" placeholder='作者(可省略)' class='form-control' />
          <input type="submit" class='form-control btn-go' value='GO'/>
        </div>
      </div>
      <div class="hint"><img src=''><sapn>请输入搜索条件</sapn></div>
      <div id="posts" class="posts"></div>
    </div>
    <script src='static/build/jQuery.js'></script>
    <script src="static/build/post.js"></script>
  </body>
</html>